* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'sans-serif';

    --color-beige-100: rgb(243, 242, 218);
    --color-beige-300: rgb(243, 239, 204);
    --color-beige-500: rgb(236, 231, 180);
    --color-beige-700: rgb(233, 196, 150);

    --color-forest-100: rgb(131, 169, 92);
    --color-forest-300: rgb(64, 99, 67);
    --color-forest-500: rgb(50, 80, 46);

    --color-error-100: rgb(255, 192, 180);
    --color-error-500: rgb(199, 51, 15);

    --space-1: 0.25rem;
    --space-2: 0.5rem;
    --space-4: 1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;

    --border-radius-smaller: 2px;
    --border-radius-small: 4px;
    --border-radius-medium: 6px;

    --shadow-medium: 0 2px 8px rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--color-beige-300);
    color: var(--color-forest-500);
    margin: 0;
}

main {
    width: 90%;
    max-width: 50rem;
    margin: 0 auto;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-forest-300);
}

.btn {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    background-color: var(--color-forest-300);
    color: var(--color-beige-500);
    border: 1px solid var(--color-forest-300);
    border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
    background-color: var(--color-forest-500);
}

.btn-alt:hover {
    background-color: var(--color-error-500);
}


.alert {
    border-radius: var(--border-radius-small);
    background-color: var(--color-error-100);
    color:var(--color-error-500);
    padding: var(--space-4);
}

.alert h2 {
    font-size: 1rem;
    margin:var(--space-2) 0;
    text-transform: uppercase;
}

.alert p {
    margin:var(--space-2) 0;
}

.badge {
    margin-left: var(--space-2);
    padding: 0.15rem var(--space-4);
    border-radius: 10rem;
    background-color: var(--color-forest-300);
    color: var(--color-beige-300);
}

