#products-grid {
    margin: var(--space-8) auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: var(--space-4);
    color: var(--color-beige-300);
}

.product-item {
    border-radius: var(--border-radius-medium);
    text-align: center;
    background-color: var(--color-forest-300);
    overflow: hidden;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    margin-top: 0.625rem;
    width: 80%;
    height: 12rem;
    object-fit:cover;
    border-radius: 0.5rem;
}

.product-item-content{
    padding: var(--space-4);
}

.product-item-content {
    margin: var(--space-2) 0;
}


.product-item-actions {
    display: flex;
    margin-top: var(--space-2);
    justify-content: center;
}

.btn2 {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    color: var(--color-beige-500);
    border: 1px solid var(--color-forest-300);
    border-radius: var(--border-radius-small);
    background-color: var(--color-forest-500);
}

.btn2:hover {
    color: var(--color-forest-500);
    background-color: var(--color-beige-100);
}

.btn-alt:hover {
    color: var(--color-beige-300);
    background-color: var(--color-error-500);
}


.btn3 {
    cursor: pointer;
    font: inherit;
    padding: var(--space-2) var(--space-6);
    color: var(--color-forest-500);
    border: 1px solid var(--color-beige-300);
    border-radius: var(--border-radius-small);
    background-color: var(--color-beige-500);
}

.btn3:hover {
    color: var(--color-beige-500);
    background-color: var(--color-forest-500);
}


#product-details header {
    margin-top: 7rem;
    padding: var(--space-8);
    background-color: var(--color-forest-500);
    padding: var(--space-8);
    
  }
  
  #product-details img {
    width: 100%;
    border-radius: var(--border-radius-medium);
    border: 1px solid;
    object-fit:cover;
  }
  
  #product-info {
    text-align: center;
    color: var(--color-beige-300);
  }
  
  #product-description {
    color: var(--color-beige-300);
    background-color: var(--color-forest-500);
    padding: var(--space-8);
    white-space: pre-wrap;
  }
  
  @media (min-width: 50rem) {
    #product-details header {
        display: flex;
        margin-top: var(--space-8);
        padding: var(--space-8);
        gap: var(--space-8);
    }
  
    #product-details img {
      width: 20rem;
      height: 15rem;
      margin: var(--space-8);
    }
  
    #product-info {
      text-align: left;
      color: var(--color-beige-300);
    }
  }